{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('write_entry') }}" method=post class=add-entry>
    <table>
      <tr>
        <td>Организация</td>
        <td><input type=text size=30 name=company></td>
      </tr>
      <tr>
        <td>Дата проверки</td>
        <td><input type=text size=30 name=data_check></td>
      </tr>
      <tr>
		<td>Фамилия</td>
        <td><input type=text size=30 name=surname></td>
      </tr>
      <tr>
		<td>Имя</td>
        <td><input type=text size=30 name=name></td>
      </tr>
      <tr>
		<td>Отчество</td>
        <td><input type=text size=30 name=patronymic></td>
      </tr>
      <tr>
        <td>Дата рождения</td>
        <td><input type=text size=30 name=bday></td>
      </tr>
      <tr>
        <td>Адрес регистрации</td>
        <td><input type=text size=30 name=address></td>
      </tr>
      <tr>
        <td>Результат проверки</td>
        <td><input type=text size=30 name=result_check></td>
      </tr>
      <tr>
        <td>Резолюция</td>
        <td><input type=text size=30 name=resolve></td>
      </tr>
      <tr><td></td>
        <td><input type=submit value=Записать></td>
      </tr>
    </table>
</form>
{% endblock %}