{% block body %}
<form action="{{ url_for('update_entry') }}" method=post>
<p>
{% for entry in candidats %}
{{ entry }}
{% endfor %}
</p>
<table>
 {% for entry in candidats %}   
 <tr>
    <td>Организация</td>
    <td><input type=text size=30 name=company value={{ entry.company }}></td>
 </tr>
 <tr>
    <td>Дата проверки</td>
    <td><input type=text size=30 name=date_check value={{ entry.data_check }}></td>
 </tr>
 <tr>
    <td>Фамилия</td>
    <td>{{ entry.surname }}</td>
 </tr>
 <tr>
    <td>Имя</td>
    <td>{{ entry.name }}</td>
 </tr>
 <tr>
    <td>Отчество</td>
    <td>{{ entry.patronymic }}</td>
 </tr>
 <tr>
    <td>Дата рождения</td>
    <td><input type=text size=30 name=bday value={{ entry.bday }}></td>
 </tr>
 <tr>
    <td>Адрес регистрации</td>
    <td><input type=text size=30 name=address value={{ entry.address }}></td>
 </tr>
 <tr>
    <td>Результат проверки</td>
    <td><input type=text size=30 name=result_check value={{ entry.result_check }}></td>
 </tr>
 <tr>
    <td>Резолюция</td>
    <td><input type=text size=30 name=resolve value={{ entry.resolve }}></td>
 </tr>
 <tr>
    <td><input type=hidden name=id value={{ entry.id }}></td>
    <td><input type=submit value=Записать></td>
 </tr>
</table>
</form>
 {% endfor %}
 {% endblock %}