{% extends "layout.html" %}
{% block body %}
<table>
 {% for entry in candidats %}   
 <tr>
    <td>11</td>
    <td>{{ entry.company }}</td>
 </tr>
 <tr>
    <td>22</td>
    <td>{{ entry.date_check }}</td>
 </tr>
 <tr>
    <td>33</td>
    <td>{{ entry.surname }}</td>
 </tr>
 <tr>
    <td>44</td>
    <td>{{ entry.name }}</td>
 </tr>
 <tr>
    <td>55</td>
    <td>{{ entry.patronymic }}</td>
 </tr>
 <tr>
    <td>66</td>
    <td>{{ entry.bday }}</td>
 </tr>
 <tr>
    <td>77</td>
    <td>{{ entry.address }}</td>
 </tr>
 <tr>
    <td>88</td>
    <td>{{ entry.result_check }}</td>
 </tr>
 <tr>
    <td>99</td>
    <td>{{ entry.resolve }}</td>
 </tr>
</table>
 {% endfor %}
 {% endblock %}