{% extends "layout.html" %}
{% block body %}
<table>
 {% for entry in candidats %}   
 <tr>
    <td>Компания</td>
    <td>{{ entry.company }}</td>
 </tr>
 <tr>
    <td>Дата проверки</td>
    <td>{{ entry.date_check }}</td>
 </tr>
 <tr>
    <td>Фамилия</td>
    <td>{{ entry.surname }}</td>
 </tr>
 <tr>
    <td>Имя</td>
    <td>{{ entry.name }}</td>
 </tr>
 <tr>
    <td>Отчество</td>
    <td>{{ entry.patronymic }}</td>
 </tr>
 <tr>
    <td>Дата рождения</td>
    <td>{{ entry.bday }}</td>
 </tr>
 <tr>
    <td>Адрес регистрации</td>
    <td>{{ entry.address }}</td>
 </tr>
 <tr>
    <td>Результат проверки</td>
    <td>{{ entry.result_check }}</td>
 </tr>
 <tr>
    <td>Резолюция</td>
    <td>{{ entry.resolve }}</td>
 </tr>
</table>
 {% endfor %}
 {% endblock %}