{% extends "layout.html" %}
{% block body %}
<a href="{{ url_for('add_entry') }}">Добавить запись</a>
  <table>
	<colgroup>
		<col id="num" />
			<col id="ch_date" />
            <col id="f" />
            <col id="i" />
            <col id="o" />
            <col id="bd" />
			<col id="addr" />
			<col id="res_ch" />
			<col id="resolve" />
			<col id="s" />
			<col id="id" />
	</colgroup>
	<thead>
		<tr>
			<th scope="col">№</th>
				<th scope="col">Организация</th>
                <th scope="col">Дата проверки</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Отчество</th>
				<th scope="col">Дата рождения</th>
				<th scope="col">Адрес регистрации</th>
				<th scope="col">Результат проверки</th>
				<th scope="col">Резолюция</th>
		</tr>
	</thead>
	<tbody>
  {% for entry in candidats %}
	<tr>
	<td>{{ entry.id }}</td>
    <td>{{ entry.company }}</td>
    <td>{{ entry.data_check }}</td>
    <td>{{ entry.surname }}</td>
	<td>{{ entry.name }}</td>
	<td>{{ entry.patronymic }}</td>
	<td>{{ entry.bday }}</td>
	<td>{{ entry.address }}</td>
	<td>{{ entry.result_check }}</td>
    <td>{{ entry.resolve }}</td>
    <td><a href="{{ url_for('edit_entry', id = entry.id) }}">Править</a></td>
	</tr>
  {% endfor %}
	</tbody>
  </table>
{% endblock %}