{% extends "layout.html" %}
{% block body %}
<a href="{{ url_for('add_entry') }}">Добавить запись</a>
  <table>
		<tr>
			<td><b>№</b></td>
			<td><b>Организация</b></td>
            <td><b>Дата проверки</b></td>
            <td><b>Фамилия</b></td>
            <td><b>Имя</b></td>
            <td><b>Отчество</b></td>
			<td><b>Дата рождения</b></td>
			<td><b>Адрес регистрации</b></td>
			<td><b>Результат проверки</b></td>
			<td><b>Резолюция</b></td>
		</tr>
  {% for entry in candidats %}
	<tr>
	<td>{{ entry.id }}</td>
    <td>{{ entry.company }}</td>
    <td>{{ entry.data_check }}</td>
    <td>{{ entry.surname }}</td>
	<td>{{ entry.name }}</td>
	<td>{{ entry.patronymic }}</td>
	<td>{{ entry.bday }}</td>
	<td>{{ entry.address }}</td>
	<td>{{ entry.result_check }}</td>
    <td>{{ entry.resolve }}</td>
    <td><a href="{{ url_for('edit_entry', id = entry.id) }}">Править</a></td>
	</tr>
  {% endfor %}
  </table>
{% endblock %}